<!-- form-profile.html -->
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="name" ng-model="formData.username">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" ng-model="formData.email">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <button ng-disabled="forms.myForm.$valid" ui-sref="form.interests" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </button>
</div>
</div>