<!-- SHOWS ON SUBMIT FROM SERVICE - NEEDS REFACTORING -->
<div ng-show="shown" id="registerMessage" class="jumbotron text-center"> {{message}} </div>

<!-- CITY -->
<div class="form-group">
        <label for="city"> City </label>
           <input type="text" class="form-control" name="city" ng-model="$parent.formData.city" validation-directive="city">
           <div validation-messages="city" form="forms.myForm"> </div>
        </label>
</div>

<!-- AGE -->
<div class="form-group">
        <label for="age"> Age (18+) </label>
           <input type="date" class="form-control" name="age" ng-model="$parent.formData.age" required max="{{minAge | date: 'yyyy-MM-dd'}}">
        </label>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">

    <button ui-sref="form.profile" class="btn btn-warning btn-xs">
    Profile Section <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </button>

    <hr>

    <button ng-disabled="forms.myForm.$invalid || message" type="submit" class="btn btn-block btn-danger" show-message>
    Submit <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </button>
</div>
</div>