body                            { padding-top:20px; background-color: #616d71 !important;}

#form-container .page-header   { background:#2f2f2f; color: white; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; /*pointer-events: none;*/}
#status-buttons a:hover         { text-decoration:none; }
#status-buttons a:active         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background-color:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }

#registerMessage 				{ background:#A6D785; color: #4F8A10;}
.errorShower					{ background:#FF9494; color: white; border-radius: 5px; margin-top: 2px; width: 15%;}

.navigators 					{/*pointer-events: none;*/}

.active 						{background: darkCyan;}


.orange 						{background-color: orange;}
.dark							{background-color: lightgrey;}
.clock							{text-align: right;}

.clearfix {
	content: '';
	display: block;
	clear: both;
}

.left-col {
	float: left;
	width: 50%;
	margin-top: 10px;
}

.right-col {
	float: right;
	width: 50%;
	margin-bottom: 15px;
}


.labels {
	display: block;
}

.suggestions {
	position: relative;
	margin-bottom: 0px;
}


.tablePic {
	height: 80px;
	width: 120px;
}

.searchTableNavigation {
	margin-bottom: 10px;
}

td {
	cursor: pointer;
}

.btn {
	margin-top: 5px;
}

nav input {
    color: black;
}

#playground {
	border-color: green;
	border-width: 5px;
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

#test1 {
	position: fixed;
	bottom: 50%;
	right: 50%;
	clear: both;
	display: block;
	z-index: 1;
}

#test2 {
	background-color: green;
	float: left;
	clear: both;
	display: block;
}

@keyframes animation {
  from {
    letter-spacing: 52px;
  }
  to {
    letter-spacing: 0;
  }
}

.animated {
  animation: animation 3s ease infinite;
  animation-iteration-count: 1;

   background: url(http://i.giphy.com/fsULJFFGv8X3G.gif);
  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent;  background
  
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
}

h2 {
  text-transform: uppercase;
  white-space: nowrap;
}


