body                            { padding-top:20px; }


#form-container .page-header   { background:#2f2f2f; color: white; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; /*pointer-events: none;*/}
#status-buttons a:hover         { text-decoration:none; }
#status-buttons a:active         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background-color:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }

#registerMessage 				{ background:#A6D785; color: #4F8A10;}
.errorShower					{ background:#FF9494; color: white; border-radius: 5px; margin-top: 2px; width: 15%;}

.navigators 					{/*pointer-events: none;*/}

.active 						{background: darkCyan;}


.orange 						{background-color: orange;}
.dark							{background-color: lightgrey;}
.clock							{text-align: right;}

.clearfix {
	content: '';
	display: block;
	clear: both;
}

.left-col {
	float: left;
	width: 50%;
	margin-top: 10px;
}

.right-col {
	float: right;
	width: 50%;
	margin-bottom: 15px;
}

#moviesTable, #searchTable {
	table-layout: fixed;
	text-align: center;
}

.labels {
	display: block;
}

.suggestions {
	position: relative;
	margin-bottom: 0px;
}

a>img {
	height: 35px;
	width: 50px;
}

.tablePic {
	height: 80px;
	width: 120px;
}

.searchTableNavigation {
	margin-bottom: 10px;
}

td {
	cursor: pointer;
}

.btn {
	margin-top: 10px;
}

nav input {
    color: black;
}