<form name="forms.myForm1" novalidate="">
	   
				<div class="form-group">
	
				<!-- FIRST NAME -->
	
				<label for="firstName"> First Name </label>
					<input type="text" class="form-control" name="firstName" ng-model="$parent.formData.firstName" validation-directive="firstName"> 		
					<div validation-messages="firstName" form="forms.myForm1"></div>
				</div>
	
				<!-- LAST NAME -->
				<div class="form-group">
					<label for="lastName"> Last Name </label>
					<input type="text" class="form-control" name="lastName" ng-model="$parent.formData.lastName" validation-directive="lastName">
					<div validation-messages="lastName" form="forms.myForm1"></div>
				</div>
	
				<div class="form-group row">
					<div class="col-xs-6 col-xs-offset-3">
					</div>
				</div>
	       
		</form>

			<!-- NEXT -->
			<div class="form-group row">
				<div class="col-xs-6 col-xs-offset-3">
					<button ng-click="goNext()" ng-disabled="forms.myForm1.$invalid" class="btn btn-block btn-success"> Go Next <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
				</div>
			</div>