<!--
<h4>Select language for translation:</h4>
<select class="form-control" ng-change="translate()" ng-model="selectedLanguage">
  <option value="en">English</option>
  <option value="bg">Bulgarian</option>
</select>


{{translation.HELLO_WORLD}}
{{translation.COLOR}}
{{translation}}
<div class="jumbotron text-center"> Home {{greeting}} </div>

<label>{{translation.PRICE}} </label>
-->



<h1>{{ 'FIRST_NAME' | getTrans:translationData }}</h1>
<h1>{{ 'FIRST_NAME' | getTrans:translationData }}</h1>
<h1>{{ 'LAST_NAME' | getTrans }}</h1>

<h1>{{ 'FIRST_NAME' | getTrans:{firstName: "Nikolai", price: 25} }}</h1>


<h1>{{ 'GREETING' | getCurrentTransl }}</h1>